<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="USER_HOME" value="/home/applysys/log" />
	<property name="LOG_FILE_NAME" value="apply" />
	<property name="LOG_FILE_NAME_MSG" value="apply" />
	<property name="LEVEL" value="info" />
	<property name="logFileNamePattern" value="${LOG_FILE_NAME}_%d{yyyy-MM-dd}" />
	<property name="logFileNamePattern2" value="${LOG_FILE_NAME}_%d{yyyy-MM-dd}_%i" />
	<property name="fileLayoutPattern"
		value="%d{yyyyMMdd:HH:mm:ss.SSS} [%logger{25}][%thread]%-5level  %msg%n" />
	<property name="consoleLayoutPattern"
		value="%d{yyyyMMdd:HH:mm:ss.SSS}[%logger{25}][%thread]%-5level  %msg%n" />
	<contextName>pchApp</contextName>
	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" />
	<timestamp key="byDate" datePattern="yyyyMMdd" />

	<appender name="ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Prudent>true</Prudent>
		<Encoding>UTF-8</Encoding>
		<file>${USER_HOME}/${LOG_FILE_NAME_MSG}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${USER_HOME}/${LOG_FILE_NAME_MSG}.%d{yyyy-MM-dd}.log
			</fileNamePattern>
		</rollingPolicy>
		<layout>
			<pattern>${fileLayoutPattern}</pattern>
		</layout>
		<encoder>
			<pattern>${consoleLayoutPattern}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<Encoding>UTF-8</Encoding>
		<layout name="StandardFormat" class="ch.qos.logback.classic.PatternLayout">
			<pattern>${consoleLayoutPattern}</pattern>
		</layout>
	</appender>

	<logger name="com.zhiweiwang.datong" level="DEBUG" >
		<appender-ref ref="ROLLING" />
	</logger>

	<root level="${LEVEL}">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ROLLING" />
	</root>

</configuration>