.grid {height: 50px; background: red}
.panel {padding: 10px; background: #FFF; border-radius: 5px; box-shadow: 0px 0px 10px #AAA;}

body {padding-top: 20px; font-family: "Microsoft Yahei"}
.page {margin: 0 auto; width: 1000px;}
.logo {margin-bottom: 10px;}
.wrapper {max-height: 565px; background: #FFF; padding: 20px; margin: 0 auto; width: 1000px; border-radius: 10px; box-shadow: 0px 0px 10px #AAA}
.container-fluid {width: 960px; margin: 0 auto;}
.content {background: url("../../assets/img/tiny_grid.png"); height: 500px; width: 819px; border-radius: 5px 0 0 0;}
.footer {height: 55px;; background: #333746; border-radius: 0 0 5px 5px; z-index: 100; position: relative;}
.avatar {height: 60px; width: 100px; position: relative; border-radius: 5px 5px 0 0; background: #333746; top: -60px; left: 20px;}
.pic {position: relative; padding: 5px 0; margin: 5px; height: 90px; width: 90px; background: #FFF; border-radius: 5px;}
